.container {
    position: relative;
    width: 100%;
    min-height: 600px;
    background: url("../../../../../public/assets/home/footer/footer.png") center center;
    -webkit-background-size: cover;
    background-size: cover;

    .wrapper {
        position: relative;
        max-width: 1270px;
        width: 100%;
        min-height: 600px;
        margin: 0 auto;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            //left: 85px;
            bottom: 85px;


            .numbers {
                position: absolute;
                top: 80px;
                .number {
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 14px;
                    line-height: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}