.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    min-height: 920px;
    margin: 0 auto;

    .classesTitle {
        color: #5E5E5E;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
    }

    .mainSwiper {
        width: 100%;
        padding: 50px 20px 25px;

        //.mainMySwiper {
        //    .mainSwiperSlide {
        //        background-position: center;
        //        background-size: cover;
        //        max-width: 758px;
        //        max-height: 565px;

                img {
                    display: block;
                    max-width: 758px;
                    width: 100%;
                    height: auto;
                    padding: 0 15px;
                }
        //    }
        //}
    }

    .minorSwiper {
        width: 100%;
        padding: 0px 20px;

        //.minorMySwiper {
        //    .minorSwiperSlide {
        //        background-position: center;
        //        background-size: cover;
        //        max-width: 467px;
        //        max-height: 232px;

                img {
                    display: block;
                    width: 100%;
                    max-width: 467px;
                    height: auto;
                    padding: 0 15px;
                }
        //    }
        //}
    }
}
