.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -60px;
    bottom: 50px;
    width: 311px;
    min-height: 241px;
    max-height: 300px;
    background: white;
    border-radius: 5px;
    border: 1px solid #98bde2;

    .content {
        margin-top: 30px;
        max-width: 248px;
        max-height: 210px;
        overflow: auto;

        .numbersDataHead {
            align-self: flex-start;
            font-size: 18px;
            font-weight: 600;
            font-family: Montserrat;
            color: #032E5C;
        }

        .line {
            margin-top: 3px;
            width: 248px;
            height: 1px;
            background: #A3A3A3;
        }

        .numbersData {
            display: flex;
            flex-direction: column;
            //gap: 20px;
            //overflow: auto;
        }

        .numberLine {
            margin-top: 20px;
        }

        .saveAndAddNumber {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 20px 15px;
        }
    }
}