.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 350px;
    min-height: 300px;
    max-height: 350px;
    background: white;
    border-radius: 5px;

    .line {
        width: 320px;
        height: 1px;
        background: black;
    }

    .numbersData {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: auto;
    }

    .numberLine {
        margin-top: 20px;
    }

    .saveAndAddNumber {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px 15px;
    }
}