.container {
    max-width: 1200px;
    width: 100%;
    min-height: 2032px;
    margin: 49px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(#98BDE2, 0.2);
    border-radius: 20px;

    .rangeDatePicker {
        padding-top: 33px;
        display: flex;
        gap: 10px;
    }

    .content {
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        gap: 25px;
        padding-top: 50px;
        padding-left: 10px;

        .numbers {
            display: flex;
            flex-direction: column;
            gap: 25px;


        }

        .reservationResult {
            width: 260px;
            height: 433px;
            background: white;
            border-radius: 10px;

            .head {
                margin-top: 20px;
                margin-bottom: 9px;
                text-align: center;
                line-height: normal;
                color: #032E5C;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 600;
            }

            .line {
                margin-top: 20px;
                width: 100%;
                height: 0.5px;
                background: #AAAAAA;
            }

            .dates {
                .monthDays {
                    margin-top: 20px;
                    margin-bottom: 9px;
                    text-align: center;
                    line-height: normal;
                    color: #032E5C;
                    font-family: Montserrat;
                    font-size: 22px;
                    font-weight: 400;
                }

                .weekDays {
                    display: flex;
                    justify-content: center;
                    gap: 40px;

                    .weekDay {
                        margin-bottom: 9px;
                        text-align: center;
                        line-height: normal;
                        color: #032E5C;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                margin-left: 30px;
                margin-right: 30px;

                .typeAndExtra {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    .type {
                        line-height: normal;
                        color: #032E5C;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .extra {
                        line-height: normal;
                        color: #032E5C;
                        font-family: Montserrat;
                        font-size: 11px;
                        font-weight: 600;
                    }
                }

                .sums {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 5px;

                    .mainSum {
                        line-height: normal;
                        color: #032E5C;
                        font-family: Montserrat;
                        font-size: 10px;
                        font-weight: 400;
                    }

                    .extraSum {
                        line-height: normal;
                        color: #032E5C;
                        font-family: Montserrat;
                        font-size: 10px;
                        font-weight: 400;
                    }
                }
            }

            .resultSum {
                margin-top: 20px;
                text-align: center;
                line-height: normal;
                color: #032E5C;
                font-family: Montserrat;
                font-size: 26px;
                font-weight: 700;
            }

            .continueBtn {
                margin-top: 15px;
                margin-left: 30px;
                color: white;
                font-size: 24px;
                font-weight: 600;
                font-family: Montserrat;
                width: 207px;
                height: 50px;
                background: #98bde2;
                border-radius: 5px;
            }
        }
    }

}