.container {
    max-width: 1200px;
    width: 100%;
    min-height: 2032px;
    margin: 49px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(#98BDE2, 0.2);
    border-radius: 20px;

    .rangeDatePicker {
        padding-top: 33px;
        display: flex;
        gap: 10px;
    }

    .content {
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        gap: 25px;
        padding-top: 50px;
        padding-left: 10px;

        .numbers {
            display: flex;
            flex-direction: column;
            gap: 25px;


        }
    }

}