.container {
    position: relative;
    width: 100%;
    min-height: 768px;
    background: url("../../../../../public/assets/home/main/mainBackground.png") center center;
    -webkit-background-size: cover;
    background-size: cover;

    .mainTitle {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        font-family: Montserrat;
        font-size: 96px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 14.4px;
    }

    .rangeDatePicker {
        display: flex;
        gap: 5px;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

        .searchBtn {
            width: 70px;
            height: 40px;
            border-radius: 4px;
            color: white;
            background: #597D9C;
        }
    }
}