.info {
    display: flex;
    gap: 27px;
    width: 613px;
    margin-bottom: 33px;

    .img {
        width: 101px;
        align-self: flex-start;
    }

    .titleAndText {
        .title {
            font-size: 36px;
            margin-bottom: 15px;
            color: #032E5C;
        }

        .text {
            max-width: 485px;
            width: 100%;
            color: #032E5C;
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
}