.header {
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 166px;
    background: inherit;
    z-index: 2;

    .logo {
        padding-top: 10px;
        width: 135px;
    }

    .list {
        display: flex;
        justify-content: center;
        gap: 46px;

        .listElement {
            color: #FFF;
            //font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .languages {
        display: flex;
        gap: 10px;

        .language {
            color: #B6B6B6;
            //font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
        }

        .active {
            color: #fff;
            border-radius: 12px;
            background: rgba(196, 196, 196, 0.15);
            padding: 0px 8px;
        }
    }
}

.scrolling {
    background: #fff;
    //backdrop-filter: blur(10px); /* Регулируйте значение, чтобы достичь нужного эффекта */
    //-webkit-backdrop-filter: blur(10px); /* Для поддержки в браузерах WebKit (например, Chrome, Safari) */

    .list {
        .listElement {
            color: #5E5E5E;
        }
    }

    .languages {
        .active {
            color: #5E5E5E;
            background: rgba(gray, 0.4);
        }
    }
}