.container {
    position: relative;
    width: 100%;
    max-height: 320px;
    background: url("../../../../../public/assets/home/footer/footer.png") center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 50px;

    .wrapper {
        position: relative;
        max-width: 1270px;
        width: 100%;
        min-height: 320px;
        margin: 0 auto;

        .content {
            display: flex;
            align-items: flex-start;
            gap: 219px;
            position: absolute;
            //left: 85px;
            bottom: 40px;

            .connection {
                display: flex;
                flex-direction: column;
                align-items: center;

                .socialMedias {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: -33px;

                    .socialMedia {
                        width: 32px;
                        height: 32px;
                    }
                }


                .numbers {
                    margin-top: 17px;
                    .number {
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 600;
                    }
                }
            }

            .navigation {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: white;
                padding-top: 20px;

                .head {
                    margin-bottom: 20px;
                    font-size: 22px;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    text-decoration: none;

                    .listElement {
                        font-weight: 600;
                    }
                }
            }

        }
    }
}

.marginTop {
    margin-top: -200px;
}