.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 768px;

    .videoBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 85px;
        width: 100%;

        .infoAndRangePicker {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 628px;

            .mainTitle {
                color: #FFF;
                font-family: Montserrat;
                font-size: 96px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 14.4px;
                z-index: 1;
                margin-bottom: 42px;
            }

            .mainText {
                z-index: 1;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                color: white;
                max-width: 594px;
                margin-bottom: 61px;
            }

            .rangeDatePicker {
                display: flex;
                gap: 5px;
                position: relative;
                z-index: 1;

                .linkToReserv {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 70px;
                    height: 40px;
                }

                .searchBtn {
                    width: 70px;
                    height: 40px;
                    border-radius: 4px;
                    color: white;
                    background: #597D9C;
                }
            }
        }
    }
}