.container {
    display: flex;
    gap: 5px;
}

.arrival {
    display: flex;
    align-items: center;
    width: 181px;
    height: 40px;
    background: #fff;
    border-radius: 4px;

    .customRangePicker {
        position: absolute;
        left: 0;
        //width: 180px;
        //opacity: 0;
    }

    .arrivalWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;

        //.customRangePicker {
        //    position: absolute;
        //    left: 0;
        //    //width: 180px;
        //    //opacity: 0;
        //}

        .calendarImg {
            width: 18px;
        }

        .titleAndDate {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .title {
                color: #597D9C;
                font-family: Montserrat;
                font-size: 10px;
                font-weight: 500;
            }
            .date {
                margin: 0;
                color: #597D9C;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
}