.numberReservation {
    width: 867px;
    height: 507px;
    background: white;
    border-radius: 10px;

    .sliderAndInfo {
        display: flex;
        gap: 14px;
        //height: 350px;

        .swiper {
            width: 350px;

            .mySwiper {
                .swiperSlide {
                    background-position: center;
                    background-size: cover;
                    max-width: 350px;
                    max-height: 350px;

                    .numberImg {
                        display: block;
                        width: 100%;
                        max-width: 350px;
                        height: auto;
                    }
                }

                .swiper-pagination-bullet {
                    width: 40px; // Устанавливает ширину линии
                    height: 2px; // Устанавливает высоту линии
                    border-radius: 0; // Убирает скругление
                    background: #000; // Цвет линии
                }

                // Стиль для активного состояния пагинации
                .swiper-pagination-bullet-active {
                    background: #ff0000; // Цвет активной линии
                }
            }
        }

        .info {
            padding-top: 37px;

            .title {
                color: #032E5C;
                font-size: 36px;
                font-weight: 600;
                font-family: Montserrat;
                margin-bottom: 6px;
            }

            .humansCapacity {
                font-family: Montserrat;
                color: #032E5C;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 16px;
            }

            .furniture {
                display: flex;
                flex-wrap: wrap;
                gap: 7px;
            }

            .extra {
                display: flex;
                gap: 12px;
                margin-top: 35px;

                .extraElement {
                    line-height: 18px;
                    width: 226px;
                    height: 63px;
                    border: 1px solid #98BDE2;
                    border-radius: 3px;
                    font-weight: 600;
                    font-size: 16px;
                    color: #032E5C;
                    font-family: Montserrat;
                }
            }
        }
    }

    .reservation {
        width: 826px;
        padding-top: 15px;
        padding-left: 30px;

        .priceWrapper {
            display: flex;
            align-self: center;
            justify-content: space-between;

            .priceText {
                font-weight: 400;
                font-size: 30px;
                font-family: Montserrat;
                color: #032E5C;
            }

            .price {
                color: #032E5C;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 700;
            }
        }

        .completion {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;

            .conditionsAndQuests {
                display: flex;
                gap: 30px;

                .cancelAndBank {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;

                    .cancelBtn {
                        color: #032E5C;
                        font-weight: 400;
                        font-size: 16px;
                        font-family: Montserrat;
                        text-decoration: underline;
                    }

                    .bankMapBtn {
                        color: #032E5C;
                        font-weight: 400;
                        font-size: 16px;
                        font-family: Montserrat;
                    }
                }

                .countQuests {
                    color: #032E5C;
                    font-weight: 500;
                    font-size: 14px;
                    font-family: Montserrat;
                    width: 129px;
                    height: 50px;
                    border: 2px solid #98BDE2;
                }
            }

            .chooseBtn {
                width: 158px;
                height: 50px;
                border-radius: 3px;
                background: #98BDE2;
                color: white;
                font-weight: 400;
                font-size: 24px;
                font-family: Montserrat;
            }
        }
    }
}