.container {
    max-width: 1270px;
    width: 100%;
    margin: 100px auto;

    .content {
        display: flex;
        align-items: flex-start;
        width: 100%;

        .backgroundAndImg {
            position: relative;
            width: 100%;

            .blueBack {
                position: absolute;
                top: -100px;
                right: 50%;
                z-index: 0;
                width: 100vw;
                height: 863px;
                background: linear-gradient(to right, #98BDE2, white);
                background-size: 45% 100%;
                background-position: 100% 0;
            }

            .aboutUsImg {
                position: relative;
                max-height: 670px;
                height: 100%;
                width: auto;
                border-radius: 20px;
            }
        }

        .infoWrapper {
            .head {
                margin-bottom: 34px;
                width: 450px;
                font-size: 36px;
                font-weight: bold;
                color: #032E5C;
            }
        }

    }
}