.container {
    max-width: 1270px;
    width: 100%;
    margin: 100px auto;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //gap: 93px;

        .titleAndImg {
            position: relative;

            .title {
                position: absolute;
                top: -30px;
                left: 50%;
                color: #5E5E5E;
                font-family: Montserrat;
                font-size: 64px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 9.6px;
            }

            .aboutUsImg {
                max-height: 659px;
                height: 100%;
                width: auto;
                border-radius: 20px;
            }
        }

        .text {
            max-width: 419px;
            color: #5E5E5E;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 3px;
        }
    }
}