.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;
    max-width: 1270px;
    width: 100%;

    .newsTitle {
        color: #5E5E5E;
        font-family: Montserrat;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .news {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        .new {
            display: flex;
            flex-direction: column;
            width: 620px;
            height: 520px;
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0px 8px 9px 1px rgba(0, 0, 0, 0.25);

            .newsDataWrapper {
                padding-top: 16px;
                padding-left: 31px;
                .date {
                    height: 20px;
                    color: #999;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                }

                .title {
                    color: #5E5E5E;

                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 700;
                }

                .text {
                    color: #5E5E5E;
                    line-height: normal;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }

    .allNewsBtn {
        align-self: flex-end;
        border-radius: 7px;
        border: 1px solid #5E5E5E;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 200px;
        height: 40px;
        margin-top: 34px;
        margin-right: 19px;
    }
}